{% extends "base.html" %}
{% load i18n %}
{% load shop_tags %}

{% block title %}{% trans "Home page" %}{% endblock %}

{% block content %}
	<ul>
		{% for product in products.values %}
			<li class="new_products_block">
				<a class="prd_a" href="{% url shop.views.product product.id %}"><img src="{% if product.cover %}{{ product.cover.image.cover.url }}{% else %}/media/product/default.cover.jpeg{% endif %}" /></a>
				<div class="prd_title"><a href="{% url shop.views.product product.id %}">{{ product.title }}</a></div>
				<div class="prd_cost">{{ product.cost.cost }}</div>
			</li>
		{% endfor %}
	</ul>
	<div class="clear"></div>
{% endblock %}
{% block sidebar %}
	{% cart %}
	{% new_products %}
{% endblock %}