<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<?php header("HTTP/1.1 404 Not Found"); ?>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>404 ошибка - Запрашиваемая страница не существует</title>

<style>
<!--
body {
	margin:0 0 0 0; 
	margin-top:50px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:black;
}

ul {
	list-style-type:none;
	margin-left:-15px;
	margin-top:25px;
}

li {
	margin-bottom:5px;
}

a {
	color:black;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover {
	color:#d74963;
	text-decoration:underline;
}
	
-->
</style>

</head><body>
	<div style="margin: 0pt auto; width: 720px; height: 460px; background-image: url(/media/css/images/404BG.jpg); background-repeat: no-repeat; position: relative;">
		<div style="position: absolute; top: 70px; left: 65px;"></div>
		<div style="position: absolute; top: 135px; left: 80px; width: 244px;">
		  <p>Страница которую вы видете не существует</p>
		  <p>Это маленькая подсказка, возможно, куда вы хотели попасть: </p>
		  <ul>
		    	<li><a href="/">Главная страница</a></li>
	        	<li><a href="/page/1">О сайте</a></li>
		   	 <li><a href="/page/2">Правила сайта</a></li>
		  </ul>
		  <!--<?php echo $message; ?>-->
	    </div>	
	</div>
</body></html>
